/* for all */
* {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Arial', sans-serif;   
}


/* nav */
a {
    color: black;
    
}
a:hover {
    text-decoration: underline;
    
}

.navigation {
    font-size: 15px;
    width: 100%;
    padding: 10px 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.navigation-text {
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

/* dots */
.dot {
    height: 4px;
    width: 4px;
    background-color: #636363;
    border-radius: 100%;
    display: inline-block;
}
#dots {
    display: grid;
    grid-template-columns: repeat(3, 4px);
    grid-template-rows: repeat(3, 4px);
    gap: 2px;
    padding: 10px;
    
}
#dots:hover {
    background-color: rgb(235, 235, 235);
    border-radius: 50%;
}

/* google logo */
#google-logo {
    display: flex;
    font-size: 130px;
    font-weight: bold;
    margin: 60px;
}

/* main */
main {
    padding: 10px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* search */
.search {
    
    display: flex;
    align-items: center;
    width: 40vw;
    margin-top: -20px;
    margin-bottom: 30px;
    border-radius: 24px;
    padding: 9px;
    height: 35px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-mic-lens {
    height: 30px;
    padding: 10px;
}

.search-input {
    border: none;
    font-size: 20px;
    width: 100%;
}

.search-input:focus {
    outline: none;
}


/* plus */

.plus {
    padding: 1.5vw;
    border: 0px;
    border-radius: 100px;
    font-weight: bold;
}

.text-shortcut {
    text-align: center;
    margin: 10px;
    color: black;
}

/* customize */
.customize {
    top: 92vh;
    left: 89vw;
    background-color: rgb(191, 212, 250);
    padding: 10px;
    border-radius: 30px;
    font-size: 15px;
    color: black;
    text-align: center;
    position: absolute;
    display: flex;
    width: 165px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.pen {
    padding-right: 5px;
    padding-left: 5px;
}
